<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sell.dao.SellerMapper" >
  <resultMap id="BaseResultMap" type="com.sell.pojo.Seller" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="deliveryTime" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="score" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="serviceScore" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="foodScore" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="rankRate" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="minPrice" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="deliveryPrice" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="averagePrice" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="ratingCount" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sellCount" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="bulletin" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="icon" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, description, deliveryTime, score, serviceScore, foodScore, rankRate, minPrice, 
    deliveryPrice,averagePrice, ratingCount, sellCount, bulletin, icon, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultType="com.sell.pojo.Seller" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SELLER
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectList" resultType="com.sell.pojo.Seller">
      select
      <include refid="Base_Column_List" />
      from SELLER
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SELLER
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sell.pojo.Seller" >
    insert into SELLER (id, name, description, 
      deliveryTime, score, serviceScore, 
      foodScore, rankRate, minPrice, 
      deliveryPrice, ratingCount, sellCount, 
      bulletin, icon, createTime, 
      updateTime)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{deliveryTime,jdbcType=DOUBLE}, #{score,jdbcType=DECIMAL}, #{serviceScore,jdbcType=DECIMAL}, 
      #{foodScore,jdbcType=DECIMAL}, #{rankRate,jdbcType=DOUBLE}, #{minPrice,jdbcType=DOUBLE}, 
      #{deliveryPrice,jdbcType=DOUBLE}, #{ratingCount,jdbcType=INTEGER}, #{sellCount,jdbcType=INTEGER}, 
      #{bulletin,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sell.pojo.Seller" >
    insert into SELLER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="deliveryTime != null" >
        deliveryTime,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="serviceScore != null" >
        serviceScore,
      </if>
      <if test="foodScore != null" >
        foodScore,
      </if>
      <if test="rankRate != null" >
        rankRate,
      </if>
      <if test="minPrice != null" >
        minPrice,
      </if>
      <if test="deliveryPrice != null" >
        deliveryPrice,
      </if>
      <if test="ratingCount != null" >
        ratingCount,
      </if>
      <if test="sellCount != null" >
        sellCount,
      </if>
      <if test="bulletin != null" >
        bulletin,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        #{deliveryTime,jdbcType=DOUBLE},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="serviceScore != null" >
        #{serviceScore,jdbcType=DECIMAL},
      </if>
      <if test="foodScore != null" >
        #{foodScore,jdbcType=DECIMAL},
      </if>
      <if test="rankRate != null" >
        #{rankRate,jdbcType=DOUBLE},
      </if>
      <if test="minPrice != null" >
        #{minPrice,jdbcType=DOUBLE},
      </if>
      <if test="deliveryPrice != null" >
        #{deliveryPrice,jdbcType=DOUBLE},
      </if>
      <if test="ratingCount != null" >
        #{ratingCount,jdbcType=INTEGER},
      </if>
      <if test="sellCount != null" >
        #{sellCount,jdbcType=INTEGER},
      </if>
      <if test="bulletin != null" >
        #{bulletin,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sell.pojo.Seller" >
    update SELLER
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        deliveryTime = #{deliveryTime,jdbcType=DOUBLE},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="serviceScore != null" >
        serviceScore = #{serviceScore,jdbcType=DECIMAL},
      </if>
      <if test="foodScore != null" >
        foodScore = #{foodScore,jdbcType=DECIMAL},
      </if>
      <if test="rankRate != null" >
        rankRate = #{rankRate,jdbcType=DOUBLE},
      </if>
      <if test="minPrice != null" >
        minPrice = #{minPrice,jdbcType=DOUBLE},
      </if>
      <if test="deliveryPrice != null" >
        deliveryPrice = #{deliveryPrice,jdbcType=DOUBLE},
      </if>
      <if test="ratingCount != null" >
        ratingCount = #{ratingCount,jdbcType=INTEGER},
      </if>
      <if test="sellCount != null" >
        sellCount = #{sellCount,jdbcType=INTEGER},
      </if>
      <if test="bulletin != null" >
        bulletin = #{bulletin,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sell.pojo.Seller" >
    update SELLER
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      deliveryTime = #{deliveryTime,jdbcType=DOUBLE},
      score = #{score,jdbcType=DECIMAL},
      serviceScore = #{serviceScore,jdbcType=DECIMAL},
      foodScore = #{foodScore,jdbcType=DECIMAL},
      rankRate = #{rankRate,jdbcType=DOUBLE},
      minPrice = #{minPrice,jdbcType=DOUBLE},
      deliveryPrice = #{deliveryPrice,jdbcType=DOUBLE},
      ratingCount = #{ratingCount,jdbcType=INTEGER},
      sellCount = #{sellCount,jdbcType=INTEGER},
      bulletin = #{bulletin,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>